#about {
  .container-about {
    height: 56vh;
    background-color: white;
  }
  .text {
    width: 90%;
    padding-top: 80px;
    margin: auto;
    height: 50vh;
    line-height: 1.3;
    p {
      font-size: 15px;
    }
    ul {
      font-size: 14px;
      width: 85%;
      margin: auto;
    }
  }
  p {
    font-size: 0.9em;
  }

  .button {
    background-color: transparent;
    color: var(--principal);
    border: 1px solid var(--principal);
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 70%;
    &:hover {
      background-color: var(--principal);
      color: white;
    }
  }

  @media (min-width: 768px) {
    h1 {
      margin-left: 2.5em;
    }
    .text {
      width: 60%;
    }
    .button {
      width: 80%;
      font-size: 18px;
    }
  }
  @media (min-width: 1024px) {
    h1 {
      margin-left: 7em;
    }
    .image {
      width: 82%;
    }
    .text {
      width: 40%;
      line-height: 1.5;
      padding-top: 3em;
    }
  }
  @media (min-width: 1024px) {
    h1 {
      margin-left: 10em;
    }
    .image {
      width: 82%;
    }
  }
  @media (min-width: 1440px) {
    h1 {
      margin-left: 8em;
    }
    .image {
      width: 88%;
    }
    .text {
      padding-top: 5em;
      p {
        font-size: 18px;
      }
      ul {
        font-size: 16px;
      }
    }
  }
}
