.contact {
  text-align: center;
  .bg {
    height: 14vh;
  }
  .container {
    background: white;
    height: 61vh;
    .item {
      color: var(--principal);
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid rgb(236, 236, 236);
      border-radius: 5px;
      padding: 5px;
      transition: 300ms all;
      h2 {
        font-size: 14px;
        margin-left: 10px;
      }
      &:hover {
        background-color: var(--lightblue);
        border-color: var(--lightblue);
      }
    }
  }
  .button {
    span {
      margin: auto;
    }
  }
  .social {
    display: flex;
    margin: 0 auto;
  }
}
